<section class="game-details flex-row flex-justify-align">
  <div class="game-statistics">
    <div class="game-speed flex-col">
      <span class="font-weight-600">Speed</span>
      <div class="flex-row">
        <div class="flex-col flex-1">
          <div>Ping</div>
          <div class="font-weight-600 stat-value stat-value-font-size">57 ms</div>
        </div>
        <div class="flex-col flex-1">
          <div>Jitter</div>
          <div class="font-weight-600 stat-value stat-value-font-size">0.14 ms</div>
        </div>
      </div>
    </div>
    <div class="game-stability flex-col">
      <span class="font-weight-600">Stability</span>
      <div class="flex-row">
        <div class="flex-col flex-1">
          <div>Spikes</div>
          <div class="font-weight-600 stat-value stat-value-font-size">6.22 %</div>
        </div>
        <div class="flex-col flex-1">
          <div>Loss</div>
          <div class="font-weight-600 stat-value stat-value-font-size">0.07 %</div>
        </div>
      </div>
    </div>
    <div class="game-connection font-weight-500">
      <div class="">Active Connection:<span> 5</span></div>
      <div>Active Server: <span>2</span></div>
    </div>
  </div>
</section>