/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  overflow: hidden;
  background-color: #445051;
  color: #ffffff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-justify-align {
  justify-content: center;
  align-items: center;
}
.flex-justify {
  justify-content: center;
}
.flex-align {
  align-items: center;
}

.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.justify-content-space-btwn {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
